tr{list-style: none;}

.container {
    width: 770px;
    text-align: left;
}

body {
    font-family: Verdana, sans-serif;
}
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: rgb(7, 226, 255);
}
.weekdays tr {
    display: inline-block;
    width: 10%;
    color: black;
    text-align: centre;
}

.calender{
    padding: 10px 0;
    background: rgb(0, 195, 255);
    margin: 0;
}
.calender{
    list-style-type: none;
    display: inline-block;
    width: 10px;
    text-align: centre;
    margin-bottom: 5px;
    font-size: 12px;
    color: black;
    flex-wrap: wrap;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: rgb(0, 183, 255);
    height: 100%;
}

.days tr :active {
    padding: 5px;
    background: pink;
    color: white;
}
.days  {
    margin: 5px;
    position: absolute;
    color: red;
}
table {
    background-color: rgb(0, 217, 255);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: rgb(0, 183, 255);
    height: 100%;
}

